body {
    width: 1300px;
    margin: auto;
}

header, .nav-links, div.content, footer {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(237, 240, 212);
    padding: 1em 3em;
    box-sizing: border-box;
}

header, footer {
    align-items: center;
    justify-content: space-between;
}

header > div:nth-child(2) {
    width: 100%;
    text-align: right;
}

.side, .header-item img, .footer-item img {
    width: 200px;
}

.top-item {
    display: inline-block;
}

.top-item label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #aeaeae;
    border-radius: 20px;
    position: relative;
    top: 10px;
}

select[name='lang'] {
    background: none;
    border: none;
    text-transform: uppercase;
    width: 55px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.top-item li {
    display: inline-block;
    text-transform: uppercase;
    list-style: none;
    margin: 0 0.6em;
    font-size: 0.89em;
}
.top-item li a {
    color: #000;
}

.side {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

main {
    padding-left: 3em;
}

.content-text h4 {
    font-size: 0.9em;
}

.cont-img img {
    max-width: 950px;
}

.footer-item-part {
    display: inline-block;
}

.social {
    display: inline-block;
    color: #fff;
    background: #000;
    border-radius: 15px;
    width: 30px;
    text-align: center;
    padding: 5px 0px;
}